* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Spartan', sans-serif;;
  font-size: 15px;
  background:hsl(180, 52%, 96%);
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: rgb(91,164,164);
  background-image: url('/images/bg-header-mobile.svg');
  background-size: cover;
  height: 100px;
  width: 100%;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}
section {
  background: #fff;
  padding: 0 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 14px 5px rgba(91,164,164,.21);
  padding-bottom: 20px;
  margin-bottom: 63px;
  margin: 52px auto;
}

.column1 {
  border-bottom:1px solid black;
  padding-bottom: 22px;
}
.company {
  color:rgb(99,186,186);
}

.new {
  background: rgb(91,164,164);
  color:#fff;
}
.new, .featured {
  padding:4.3px;
  border-radius: 5px;
}
.featured {
  background:black;
  color:#fff;
}
.title-info h2 {
  padding: 20px 0;
  font-size:1em;
}
.logo {
  height: 60px;
}
.job-description li {
  display: inline
}
.column2 {
  display: flex;
  flex-wrap: wrap;
}
.column2 span {
  margin: 3.9px;
}
.filterSpan {
  background: hsl(180, 52%, 96%);
  padding: 10px;
  color: rgb(91,164,164);
  cursor: pointer;
  display:block;
  border-radius: 3px;
  font-weight: 900;
}

/* @media only screen and (min-width:700px){
  .background{
    width:100%;
  }
.logo{
  position: static;
}
.column1{
  display:flex;
  justify-content: space-between;
  width:50%;
  align-items: center;
}

} */


main > section:first-child, main > section:nth-child(2){
  border-left: 7px solid rgb(100,161,158);
}

@media only screen and (min-width:600px) {
  header {
    background-image: url(/images/bg-header-desktop.svg);
  }
}

@media only screen and (min-width:1000px) {
  section{
    padding: 20px 34px;
  }
  .background {
    width:100%;
  }
  .column1 {
    display:flex;
    justify-content: space-between;
    width:30%;
    align-items: center;
    border-bottom:0;
  }
}

/* @media only screen and (min-width: 380px){

section{
      padding: 22px 34.9px;
}
.column1{
  width:38%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.background{
  width:100%;
}

} */

/*
https://sports.ladbrokes.com/en/mobileportal/register


*/
